<% include partials/header %>

<h1>Search for movies</h1>

<form method="GET" action="/results">
  <input type="text" placeholder="Enter movie to search" name="movie">
  <button type="submit">Search...</button>
</form>

<% include partials/footer %>

